{
  "env": {
    "commonjs": {
      "presets": [
        ["env", { "loose": true }], "react"
      ]
    },
    "es": {
      "presets": [
        ["env", { "modules": false, "loose": true }], "react"
      ]
    }
  }
}
