{
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "loose": true
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}
